*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/*header section styles*/


.banner-text{
    color: #272727;
font-size: 80px;

}

.banner-desc{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

.banner-button{
border-radius: 8px;
background: #E55473;
padding: 20px 43px;
border: none;
color: #FFF;
font-size: 20px;
font-weight: 700;
}

.banner-pic{
width: 600px;
margin-bottom:0px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 150px;
}

nav{
    background: rgba(229, 84, 115, 0.10);
height: 100vh;
}