*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/*header section styles*/


.banner-text{
    color: #272727;
font-size: 80px;

}

.banner-desc{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
margin-bottom: 0;

}

.banner-button{
border-radius: 8px;
background: #E55473;
padding: 20px 43px;
border: none;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-top: 32px;
}

.banner-pic{
width: 600px;
margin-bottom:0px;
padding: 28px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 150px;
}

nav{
    background: rgba(229, 84, 115, 0.10);
height: 100vh;
}

/*main flower featured section styles*/

.featured-flowers-title{
    color: #272727;
text-align: center;
font-size: 40px;
margin-top: 178px;
}

.featured-flowers-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}

.flower-img{
    width: 200px;
    padding: 33px;
    margin-bottom: 0;
}

.flower{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 280px;
height: 310px;

}

.flowers{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.flower-two{
    background: rgba(5, 151, 160, 0.15);
}

.flower-three{
    background: rgba(71, 125, 17, 0.15);
}

.img-two{
width: 250px;
}

.img-three{
width: 184px;
margin-left: 20px;
}

.under-text{
    text-align: center;
    text-decoration: underline;
    margin-top: 32px;
}

.one-under-text{
    margin-top: 0;
}

/*logo section style*/

.logo-container{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
width: 50%;
margin: auto;
padding: 60px;
    display: flex;
justify-content: space-around;
align-items: center;
    margin-top: 128px;
}

.logo-img{
    margin-left: 80px;
}

.logo-pic{
    margin-left: 30px;
}

.logo-desc{
    margin-top: 24px;
}

/*sale section style*/

.sale-pic{
    width: 250px;
}

.sale-container{
    height: 50vh;
    background: border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding:70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 128px;
}

.sale-info{
    text-align: center;
}

.sale-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
margin-bottom: 0;
}

.sale-span{
    color: #E55473;
}

.sale-desc{
    margin-top: 24px;
}

/*insta section styles*/

.insta-img{
    width: 250px;
}

.instagram-container{
    margin-top: 128px;
}

.instagram-title{
    text-align: center;
    color: #272727;
font-size: 40px;
}

.insta-desc{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}

.insta-photos{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

/*deals section styles*/

.deals-container{
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: auto;
    margin-top: 128px;
    text-align: center;
    padding: 100px;
}

.deals-title{
    color: #272727;
text-align: center;
font-size: 40px;
}

.deals-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.deals-email{
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 20px;
padding: 20px;
border: none;
}

/*footer section styles*/

.shop-container{
    background-color: black;
    height: 20vh;
    margin-top: 128px;
    padding: 140px;
}

.shop-title{
    color: #FFF;
font-size: 48px;
text-align: center;
}

.shop-desc{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
margin-bottom: 50px;
}

.copy{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
margin-left: 510px;
}